.myrow {
	
	height: 70px;
	position:relative;
	top: -80px;
	left: 160px;
	opacity: 0.7;
}

.myhiddenrow {
	
	height: 70px;
	position:relative;
	top: -80px;
	left: 160px;
	opacity: 0;
}

.buttons {
	border-style: double;
	width:300px;
	border-width:5px;
	border-radius: 15px;
	border-color: steelblue;

}
.button {
	padding-top: 5px;
	padding-bottom: 0px;

}