.wd-kanbas-navigation {
	background-color:steelblue;
	list-style:none;
	padding:0px;
	margin:0px;
	width:auto;
}
.wd-kanbas-navigation div {
	padding:10px;
	margin-bottom:10px;
	font-size:0.8em;
	text-align:center;
}
.wd-kanbas-navigation div.wd-active{
	background-color: steelblue;
}
.wd-kanbas-navigation div.wd-active a {
	color:red;
}
.wd-kanbas-navigation a {
	color: white;
	text-decoration: none;
}
.wd-kanbas-navigation a i {
	color:red;
	font-size:2em;
	margin-bottom:5px;
}